<nav class="bg-gray-400 shadow-md">
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex justify-between items-center h-16">

        <!-- Logo -->
        <div class="shrink-0">
          <a href="#" class="text-xl font-bold text-gray-800">
            Educación IT
          </a>
        </div>

        <!-- Menu Desktop -->
        <div class="md:flex space-x-8">
          <a routerLink="/" class="text-gray-700 hover:text-blue-600 transition">Inicio</a>
          <a routerLink="/productos" class="text-gray-700 hover:text-blue-600 transition">Productos</a>
          <a routerLink="/productos-async" class="text-gray-700 hover:text-blue-600 transition">Productos Async</a>
          <a routerLink="/nosotros" class="text-gray-700 hover:text-blue-600 transition">Nosotros</a>
          <a routerLink="/formularios" class="text-gray-700 hover:text-blue-600 transition">Formularios</a>
          <a routerLink="/contacto" class="text-gray-700 hover:text-blue-600 transition">Contacto</a>
        </div>

      </div>
    </div>
  </nav>
